.textWithRect {
  @apply w-[359px] h-[9rem] relative border transition-transform duration-[0.5s] ease-[ease] rounded-[100px] border-solid border-[#6e1777] after:inset-[-1rem] before:blur-[15px] before:opacity-50 before:inset-3;
  background: linear-gradient(90deg, #17143d, #6e1777);
  transform: perspective(5000px) rotateY(-30deg) rotateX(30deg);
  transform-style: preserve-3d;
  scale: 0;
}

.textWithRect::before,
.textWithRect::after {
  @apply content-[""] absolute transition-[background-color] duration-[0.75s] rounded-[inherit];
}

.textWithRect::after {
  background: linear-gradient(-45deg, red, blue);
  transform: translateZ(-50px);
  animation: make-visible 3s ease-in-out forwards;
}

.textWithRect::before {
  background: black;
  transform: translateZ(-49px);
  animation: make-visible 3s ease-in-out forwards;
}

.second,
.fourth {
  margin-top: 6rem;
}

.first {
  animation: make-visible 3s ease-in-out forwards;
}

.second {
  animation: make-visible 3s ease-in-out 0.25s forwards;
}

.third {
  animation: make-visible 3s ease-in-out 0.5s forwards;
}

.fourth {
  animation: make-visible 3s ease-in-out 0.75s forwards;
}

@keyframes make-visible {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
